

<div class="sidebar">
  <div class="logo-details">
    <img class="icon-profile-manager" src="assets/img/user-management.svg" alt="icon-management">
    <div class="logo_name">Profile Manager</div>
  </div>
  <hr class="divider">
  <ul class="nav-list">
   
    <li>
      <a href="#">
        <img class="icon" src="assets/img/home-page.svg" alt="icon-home">
        <span class="links_name">Home</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img class="icon" src="assets/img/profile.svg" alt="icon-profile">
        <span class="links_name">Profili</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img class="icon" src="assets/img/groups.svg" alt="icon-groups">
        <span class="links_name">Gruppi</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img class="icon-roles" src="assets/img/roles.svg" alt="icon-roles">
        <span class="links_name">Ruoli</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img class="icon" src="assets/img/modules.svg" alt="icon-modules">
        <span class="links_name">Moduli</span>
      </a>
    </li>
  </ul>
</div>
<section class="home-section">
  <!-- <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </nav> -->
  <div class="text">Dashboard</div>
</section>


<!-- <div class="bg-light border-right text-center" id="sidebar-wrapper" [ngClass]="{ 'active': isOpen }">
	<div class="sidebar-heading">
		<img id="logo" alt="logo" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-social-logo.png">
		<div id="titulo"><strong>Awesome App</strong></div>
	</div>
	<div class="list-group list-group-flush">
		<ng-container *ngFor="let item of menuItems">
			<a class="list-group-item list-group-item-action bg-light" [ngClass]="{'active': selectedItem === item.name}" (click)="activeItem( item.name)"><i class="fa fa-lg" [ngClass]="item.icon"></i> <span class="option-name">{{item.name}} </span>
				<span *ngIf="item.name === 'Home'" class="badge badge-dark">5</span></a>	
			</ng-container>
	</div> 
</div> -->


