@import "bootstrap/dist/css/bootstrap.css";


.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: white;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;

}

.sidebar .logo-details {
  background-color: whitesmoke;
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;
}

.icon-profile-manager{
    width: 25%;
    margin-right: 4%;
}

.divider{
  border: .05px solid gray;
}

.icon{
width: 14%;
margin-right: 4%;
}

.sidebar .logo-details .logo_name {
  color: black;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;

}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  cursor: pointer;
}
.sidebar .nav-list li a:hover, a:focus, a.active{
  background: whitesmoke;
  color: black !important;
  font-weight: 600 !important;
}

.nav-list{
  color: grey;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  white-space: nowrap;

}

.sidebar li a:hover .links_name,
.sidebar li a:hover img {
  transition: all 0.4s ease;
  color: #11101d;
  font-weight: 600;
}
.sidebar li img {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 250px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  transition: all 0.5s ease;
  overflow: hidden;
  background-color: whitesmoke;
}

.sidebar li.profile .name
 {
  font-size: 18px;
  font-weight: 400;
  color: gray;
  white-space: nowrap;
}

.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: gray;
  white-space: nowrap;
}

.sidebar .profile .icon-logout {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 10%; 
}

.home-section {
  position: relative;
  background: #ebedf3;
  min-height: 100vh;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  transition: all 0.5s ease;
  z-index: 2;
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
